@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

body {
    background-color: rgb(49, 49, 49);
    color: white;
    font-family: 'Comfortaa';
    text-align: center;
}


button {
    background-color: rgb(49, 49, 49);
    color: white;
    border: 2px solid white;
    border-radius: 12px;
    padding: 10px;
}

button:hover {
    background-color: white;
    color: rgb(49, 49, 49);
    border: 2px solid rgb(49, 49, 49);
    border-radius: 12px;

}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    }

.animate__animated.animate__flash {
    --animate-duration: 20s;
  }

.animate__animated.animate__fadeIn {
    --animate-duration: 3s;
  }
 

.hr1{
    border-color: white;
    max-width: 40px;
border-radius: 14px;
}

.hr2{
    border-color: white;
    max-width: 25px;
border-radius: 25px;
}

.hr3{
    border-color: white;
    max-width: 10px;
border-radius: 15px;
}

      .center {
        margin: 0;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }