* {
	font-family: 'Helvetica', cursive;
}
body {
	background-size: cover;
	background-position: center;
	background: #222;
}
h1{
	text-align: center;
	color: red;
	font-family: 'Cursive', fantasy;
	
}
.boxmodel {
  background: linear-gradient(to top, red, #222);
  padding: 3px;
  }

.boxgrad {
	background: #222;
	color: white;
	padding: 5px;
}
.boxmodel , .boxgrad , li {
	list-style: none;
	cursor: pointer;
	display: inline-block;
}
.boxmodel1 {
  background: linear-gradient(to top, red, #222);
  padding: 4px;
  }

.boxgrad1 {
	background: #222;
	color: white;
	padding: 5px;
}
.boxmodel1 , .boxgrad1 {
	
	cursor: pointer;
	display: inline-block;
}
p , .footer {
	text-align: center;
	color: white;
}
#footer {
    bottom: 0%;
	left: 45%;	
    position: fixed;
	color: white;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
}
h2 , h3 {
color: white;
}
img {
	transition: all 1s;
}
img:hover {
	transform:scale(0.9);
}
#drawingtext {
	color: white;
	text-align: left;
}
.rotate90 {  
-webkit-transform:rotate(90deg);  
-moz-transform: rotate(90deg);  
-ms-transform: rotate(90deg);  
-o-transform: rotate(90deg);  
transform: rotate(90deg);  
}  

